audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

a.some-class img.another-class.and-another {
  display: inline-block;
  vertical-align: baseline;
}

nav {
  background-color: blue;
}
